<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="stylesheet_ref">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="#">
<title>Stock List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/dataTables.bootstrap4.min.css}">

</head>

<body>
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md btn btn-primary">Stock List</div>
		</div>
		<div class="row" style="margin-top: 55px;">
			<div class="col-md-12" style="background-color: white !important">
				<div class="table-responsive">
					<table class=" table table-striped stable-bordered" cellspacing="0"
						width="100%" id="stock_list">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Name</th>
								<th>Amount</th>
								<th>Date Created</th>
								<th>Date Updated</th>

							</tr>
						</thead>
						<tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/stockManagement/stock.js}"></script>
</html>